<!DOCTYPE html>
<html>
<head>
  <title>Timecard</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

<div class="uk-text-right">
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
</div>

<%= yield %>

</div>
</body>
</html>
